body {
  .applicationreceivedcontent {
    padding-right: 50px;
    .pagetitle {
      letter-spacing: 0px;
      font-size: 45px;
      line-height: 1.3em;
      font-weight: bold;
      color: #1c1b1b;
      margin: 25px 0;
      display: block;
      max-width: 500px;
    }
    .MuiGrid-grid-lg-4 {
      .whitebg_shadow_border16 {
        height: 100%;
        display: grid;
        align-items: center;
      }
    }
    .topheader {
      .BlueSelectDropdown {
        .noBeforeAfter {
          padding: 6px 10px;
        }
      }
    }
    .headtitle {
      display: flex;
      span.darkcolortext {
        padding-right: 8px;
      }
      button {
        padding: 9px 13px;
        min-width: fit-content;
        .MuiButton-startIcon {
          margin-right: 0;
        }
      }
    }
    .bg_img {
      width: 60%;
    }
    button {
      text-transform: none;
    }
    .listarea {
      .button-area {
        justify-content: space-between;
        button {
          flex-basis: 48%;
        }
      }
    }
    .listdiv {
      .activebtn {
        .greenbox {
          width: 36px;
          height: 36px;
          background-color: #199b4d;
          border-radius: 4px 0 0 4px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .statusbox {
          padding: 0px 8px;
          background: #def0e5;
          border: 1px solid #239a50;
          border-radius: 0 4px 4px 0;
          height: 36px;
          text-transform: capitalize;
          display: flex;
          align-items: center;
        }
      }
      .resumebtn {
        .blackbox {
          width: 36px;
          height: 36px;
          background-color: #1c1b1b;
          border-radius: 4px 0 0 4px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .statusbox {
          padding: 0px 8px;
          background: #ececec;
          border: 1px solid #1c1b1b;
          border-radius: 0 4px 4px 0;
          height: 36px;
          display: flex;
          text-transform: capitalize;
          align-items: center;
        }
      }
      .repostbtn {
        .statusbox {
          padding: 0px 12px;
          background: #f6b333;
          color: #fff;
          border-radius: 4px;
          height: 36px;
          display: flex;
          text-transform: capitalize;
          align-items: center;
        }
      }
      .extendbtn {
        .statusbox {
          padding: 0px 12px;
          background: #f6b333;
          color: #fff;
          border-radius: 4px;
          height: 36px;
          display: flex;
          text-transform: capitalize;
          align-items: center;
        }
      }
      .suspendbtn {
        .statusbox {
          padding: 0px 12px;
          background: #fde3e2;
          border: 1px solid #f1453d;
          color: #1c1b1b;
          border-radius: 4px;
          height: 36px;
          display: flex;
          text-transform: capitalize;
          align-items: center;
        }
      }
      .infoarea {
        height: 20px;
        position: relative;
        top: 10px;
      }
    }
    .savedboxdiv {
      background-color: #e7f1fd;
      border: 1px solid #d1e5ff;
      border-radius: 16px;
      padding: 20px;
      .titlediv {
        .heading {
          font-size: 18px;
          display: block;
          margin-bottom: 15px;
          font-weight: 700;
        }
        .subheading {
          font-size: 14px;
          color: #2a5798;
          display: block;
        }
      }
    }
  }
}
